html
{
	font-size:62.5%;
	font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
	margin:0;
	padding:0;
}

body
{
	margin:0;
	padding:0;
	font-size:1.6rem;
	background-color: $off-black;

	display:grid;
	grid-template-columns: 20rem 1fr 1fr 1fr;
	grid-template-areas:
	  "mobileNav 	mobileNav 	mobileNav    mobileNav"
	  "leftCol 	 	rightCol 	rightCol     rightCol";

	@mixin atTablet
	{
		grid-template-columns: 100%;
		grid-template-rows: 15rem 1fr;
		grid-template-areas:
			"mobileNav 	mobileNav 	mobileNav 	mobileNav"
			"rightCol 	rightCol 	rightCol 	rightCol";
	}

	@mixin atSmall
	{
		grid-template-rows: 10rem 1fr; /* match height of mobileNav__logo */
	}
}

img
{
	display:block;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

img:not([src]) {
    visibility: hidden;
}

 /* make SVG icons clickable */
 /* used by sidebarNav, pagefooter and mobileNav */
a.svg
{
  position: relative;
  display: inline-block; 
}

a.svg:after 
{
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;      
}
/* --------------- */
