.mobileNav
{
    display:none;
    flex-flow: row nowrap;
    grid-area: mobileNav;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    width:100%;

    background: $off-black url("../assets/img/rg-logoGlyph2.svg"); /* make sure bg exist in temp */
    background-size: cover;
    background-repeat: no-repeat;
   
    @mixin atTablet
    {
      display: flex;
    }

    &__logo
    {
        height:15rem;
        width:20rem;
        /*background-color:$off-white; */
        display:flex;
        justify-content: center;
        align-items: center;

        & object,
        & img
        {
          margin:2rem;
        }

        @mixin atSmall
        {
          height:15rem;
          width:18rem;
        }
    }

    &__links
    {
      display:flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      width:100%;
      list-style-type: none;
  		position: relative;
      top:0;
      left:0;
  	  margin:0 auto 1rem auto;

      & li
      {        
        /* centers both icons + p */
        display:flex;
        justify-content: center;
      	margin:0.5rem auto;
      	height:6rem;      
      }

      & li p
      {
      	color:$mediumGrey;
      }

      & li object,
      & li img
      {
        width:6rem;
        height:6rem;

        @mixin atSmall
        {
          width:4.5rem;
      		height:4.5rem;
        }
      }

      & .active_link p
      {
        color: $neonGreen;
      }

      @mixin atSmall
      {
        flex-flow: row nowrap;
    		justify-content: space-around;
    	  margin:0 auto ;
        /*width:60%;*/
      }
    }

    & li a
    {
        text-align: center;
        text-decoration: none;
        color:$off-black;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 0.0125em;

        @mixin atSmall
        {
          font-size: 1.2rem;
        }
    }

    & li a:hover
    {
    	opacity: 0.6;
    }
}
