.container
{
  grid-area:rightCol;
  width:100%;
  background-color: $off-black;

  & header
  {
     display:flex;
     align-items: center;
     width:100%;
     min-height: 15rem;
     background-color: $off-black;
  }

  & section
  {
    width:100%;
    background-color: $off-black;
  }

  &__header
  {
    display:block;
    margin:0 0 0 2rem;
    
    & p
    {
      color:$subtleWhite;
    	font-size:2.2rem;
    	line-height: 3rem;
    	margin:2rem;

      @mixin atSmall
      {
        font-size: 1.8rem;
      	line-height: 2.4rem;
      }
    }

    & a
    {
    	text-decoration: none;
    	color:$darkGreen;
    }

    & a:hover
    {
    	color:$darkGrey;
    }
  }
}
