.pagefooter
{
    display:none;
    flex-flow: column nowrap;
    width:100%;
    justify-content: center;
    align-items: center;
    margin:2rem 0;

    @mixin atTablet
    {
      display:flex;
    }

    &__socialmedia
    {
      display:block;

      li
      {
        margin:1rem auto;
      }

      li a
      {
        text-decoration: none;
      }

      li a img:hover
      {
        border:1px solid $subtleWhite;
      }

      li a img
      {
        width:3.5rem;
        height:3.5rem;
      }
    }

    & p
    {
      color:$mediumGrey;
      font-size: 1.4rem;
      margin:0.5rem auto;
    }
}
