.portfolio
{
  margin:2rem;
  padding:0 0 2rem 0;
  background-color: $darkGrey;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  min-height: 15rem;

  & h2
  {
    font-family: 'Ubuntu Mono', monospace;
    color:$subtleWhite;
    font-size:2.8rem;
    font-weight: 700;
    letter-spacing: 0.0125em;
    padding:1rem 2rem;
    background-color:$subtleBlack;

    @mixin atSmall
    {
      font-size:2rem;
    }
  }

  /* used for website items */
  &__website
  {
  	width:90%;
  	min-height:10rem;
  	margin:1rem auto;
  }

  &__website img
  {
  	border-radius: 0.25rem;
  	filter:drop-shadow(1px 1px 1px rgba(0,0,0, 0.5));
  }

  &__website-container
  {
  	display:flex;
  	flex-flow: row wrap;
  	justify-content:flex-start;

    li
    {
    	margin:1rem;
    }
  }

  /* used by websites with hero + smaller images */
  &__website-container--hero
  {
  	width:100%;

    @mixin atSmall
    {
      width:100%;
    }
  }

  &__website-container--subcontent
  {
  	width:20%;

    @mixin atTablet
    {
      width:30%;
    }

    @mixin atSmall
    {
      width:35%;
    }
  }

  &__website--mobile,
  &__website--tablet
  {
  	object-fit:fill;
  }

  /* used by website with one large hero image */
  &__website-container--fullWidth
  {
  	width:100%;
  }

  /* gallery for multiple images per project */
  &__gallery-container
  {
  	display:flex;
  	flex-flow: row wrap;
  	justify-content: flex-start;
  	width:90%;
  	margin:2rem auto;

    li
    {
    	width:12rem;
    	height:12rem;
      color:$subtleWhite;
    	background-color:$off-black;
    	margin:1rem;

      @mixin atTablet
      {
        width:10rem;
        height:10rem;
      }

      @mixin atSmall
      {
        width:8rem;
    		height:8rem;
    		margin:0.5rem 0;
      }
    }

    @mixin atSmall
    {
      justify-content: space-between;
    }
  }

  /* text container */
  &__textContainer
  {
    font-size: 1.8rem;
    line-height: 2rem;
    margin:2rem auto;
    width:85%;

    @mixin atSmall
    {
      font-size: 1.6rem;
  		line-height: 1.8rem;
    }

    & p
    {
      color:$subtleWhite;
      margin:2rem 0 4rem 0;
      line-height: 1.6em;
    }
  }

  &__link
  {
  	cursor: pointer;
  	background-color: $darkGreen;
  	border-radius: 0.5rem;
  	padding:1rem;

    a
    {
      color:$off-white;
      font-size:1.6rem;
      text-decoration: none;
      letter-spacing: 0.025em;

      @mixin atSmall
      {
        font-size:1.4rem;
      }
    }
  }

  &__link:hover
  {
  	background-color:$neonGreen;
  }
}
